#!/bin/sh

# ANSIBLE-MANAGED CONFIGURATION FILE
# NOTES:
#   - When present, this user ~/.xinitrc is sourced INSTEAD OF system xinitrc.
#   - This script may be sourced by invoking startx at the command line.
# REFS:
#   - See https://www.freebsd.org/cgi/man.cgi?query=startx

################################################################################
# Load Xresources: Xorg Database Items Used By Misc Programs
################################################################################

# read system .Xresources file, and keep existing old resources

[ -f "{{ system_xresources_path }}" ] && xrdb -merge "{{ system_xresources_path }}"

# read user's .Xresources file, and keep existing old resources

[ -f "{{ user_xresources_path }}" ] && xrdb -merge "{{ user_xresources_path }}"

################################################################################
# Load Keyboard Modifier Maps
################################################################################

# read system keyboard modifier map and system keymap table

[ -f "{{ system_xmodmap_path }}" ] && xmodmap "{{ system_xmodmap_path }}"

# read user's keyboard modifier map

[ -f "{{ user_xmodmap_path }}" ] && xmodmap "{{ user_xmodmap_path }}"

################################################################################
# Run Xinitrc Scripts: Tasks That Depend On Xorg
################################################################################

# run any system scripts in system xinitrc.d dir

if [ -d "{{ system_xinitrc_d_dir }}" ]; then
  for script_file in "{{ system_xinitrc_d_dir }}"/?*.sh ; do
    # shellcheck source=/dev/null
    [ -x "$script_file" ] && . "$script_file"
  done
  unset script_file
fi

# run any user scripts in user xinitrc.d dir

if [ -d "{{ user_xinitrc_d_dir }}" ]; then
  for script_file in "{{ user_xinitrc_d_dir }}"/?*.sh ; do
    # shellcheck source=/dev/null
    [ -x "$script_file" ] && . "$script_file"
  done
  unset script_file
fi

################################################################################
# Run Xprofile Commands: General Tasks To Execute Before GUI Starts
################################################################################

# run system Xprofile commands

# shellcheck source=/dev/null
[ -f "{{ system_xprofile_path }}" ] && . "{{ system_xprofile_path }}"

# run user Xprofile commands

# shellcheck source=/dev/null
[ -f "{{ user_xprofile_path }}" ] && . "{{ user_xprofile_path }}"

################################################################################
# Exec Target Graphical Desktop
################################################################################

exec "{{ xinitrc_opts_exec_de if (xinitrc_opts_exec_de) else 'true' }}"

# vim: set filetype=sh:

