#!/bin/sh

# ANSIBLE-MANAGED CONFIGURATION FILE
# NOTES:
#   - When present, this user ~/.xserverrc is sourced INSTEAD OF system xserverrc.
#   - xserverrc settings may be more robust than xinit/xprofile settings
# REFS:
#   - See https://wiki.archlinux.org/title/Xinit#xserverrc

exec "{{ system_xserver_path }}" \
  -ardelay "{{ xserverrc_opts_key_repeat_delay_ms }}" \
  -arinterval "{{ xserverrc_opts_key_repeat_rate_ms }}" \
  -s "{{ xserverrc_opts_screen_saver_delay_minutes }}" \
  "{{ 'v' if xserverrc_opts_screen_saver_monitor_off else '-v' }}" \
  -nolisten tcp \
  "$@"

# vim: set filetype=sh:

